# Audio data directories
assets/audio/processed_audio/
code/assets/audio/augmented_audio/
code/assets/audio/processed_audio/
assets/audio/results/
code/assets/audio/results/
results_second_testing/

# Model training results
code/models_testing/step_4_fine-tuning/results/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.cursor
.cursor.env
./results
.env
